html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#content {
    margin-top: 100px;
    height: 100%;
}
.height-100-percents { height: 100%; }
.iframe-wrap { height: 100%; padding: 30px; overflow: hidden; }
.iframe { width: 134%; height: 100%; border: 0; }
.iframe {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}
#ajax-loader .overlay {
  position: fixed;
  background-color: #fff;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1050;
}
#ajax-loader i {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  z-index: 1051;
}
#ajax-loader.ajax-loader-0 i {
  background: url("../img/loader-0.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-1 i {
  background: url("../img/loader-1.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-2 i {
  background: url("../img/loader-2.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-3 i {
  background: url("../img/loader-3.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-4 i {
  background: url("../img/loader-4.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-5 i {
  background: url("../img/loader-5.gif") center center no-repeat;
}
#ajax-loader.ajax-loader-6 i {
  background: url("../img/loader-6.gif") center center no-repeat;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
